<html xmlns:th="http://www.thymeleaf.org">
<body>
	<ul th:fragment="admin">
		<li><h1>
				<a th:href="@{/admin/universitys}">Редактирование университета</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/facultys}">Редактирование факультета</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/departments}">Редактирование департамента</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/rooms}">Редактирование комнат</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/groups}">Редактирование групп</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/courses}">Редактирование курсов</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/lessons}">Редактирование уроков</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/roles}">Редактирование ролей</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/admins}">Рудактирование пользоватилей</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/students}">Редактирование студентов</a>
			</h1></li>
		<li><h1>
				<a th:href="@{/admin/teachers}">Редактирование учителей</a>
			</h1></li>
	</ul>
</body>
</html>