<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Schedule</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
	<form th:action="@{/teacher/lessonsSchedule}" th:object="${filter}">
		<select th:field="*{departmentId}">
			<option value="">--Вибирите департамент--</option>
			<option th:each="d : ${departments}" th:text="${d.name}"
				th:value="${d.id}"></option>
		</select><br> <label for="date">Дата: <input id="from" type="date"
			th:field="*{from}" /></label> <label for="to"><input id="to"
			type="date" th:field="*{to}" /></label>
		<div th:if="${errors}">
			<p style="color: red" th:each="e : ${errors}"
				th:text="${e.defaultMessage}">Error Message</p>
		</div>
		<div>
			Диапазон: <select th:field="*{dateFilter}">
				<option value="">--выбирите диапазон--</option>
				<option th:value="DAY">день</option>
				<option th:value=WEEK>неделя</option>
				<option th:value="MONTH">месяц</option>
				<option th:value="CURRENT_MONTH">текущий месяц</option>
				<option th:value="CASTOM">свой</option>
			</select>
		</div>
		<button type="submit">Filter</button>
	</form>
	<h2>Моё расписание</h2>
	<table>
		<thead>
			<tr>
				<th>Урок</th>
				<th>Номер аудитории</th>
				<th>Дата Урока</th>
				<th>Начало урока</th>
				<th>Конец урока</th>
				<th>статус</th>
				<th>Действия</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l : ${pageLesson.content}">

				<td th:text="${l.course.courseName}"></td>
				<td th:text="${l.room.number}"></td>
				<td th:text="${l.date}"></td>
				<td th:text="${l.startTime}"></td>
				<td th:text="${l.endTime}"></td>
				<td th:text="${l.status}"></td>
				<td><form
						th:action="@{/teacher/lessonsSchedule/{id}/update(id=${l.id})}"
						method="post" th:object="${filter}">
						<select th:field="*{status}">
							<option th:value="PLANNED" th:selected="${l.status == 'PLANNED'}">PLANNED</option>
							<option th:value="CANCELLED"
								th:selected="${l.status == 'CANCELLED'}">CANСELLED</option>
							<option th:value="MOVED" th:selected="${l.status == 'MOVED'}">MOVED</option>
						</select> <input type="hidden" name="page" th:value="${currentPage}" /> <input
							type="hidden" name="size" th:value="${pageSize}" /> <input
							type="hidden" th:if="${filter.from != null}" th:field="*{from}" />
						<input type="hidden" th:if="${filter.to != null}" th:field="*{to}" />
						<input type="hidden" th:field="*{dateFilter}" /> <input
							type="hidden" th:if="${filter.departmentId != null}"
							th:field="*{departmentId}" />
						<button type="submit">Сохранить</button>
					</form></td>
			</tr>
		</tbody>
	</table>
	<ul th:replace="pagination :: content">
	</ul>
	<a
		th:href="@{/student/lessonsSchedule/export(
        from=${filter.from},
        to=${filter.to},
        courseId=${filter.courseId},
        teacherId=${filter.teacherId},
        roomId=${filter.roomId},
        departmentId=${filter.departmentId}
    )}"
		class="btn btn-outline-primary">Скачать расписание</a>
	<div>
		<h2>
			<a th:href="@{/home}">Home</a>
		</h2>
	</div>
</body>
</html>