<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Course</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>

	<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Департамент</td>
				<td>Группы</td>
				<td>Учителя</td>
				<td>Действия</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${pageCourse.content}">
				<form th:action="@{/methodist/courses/{id}/update(id=${c.id})}"
					method="post">
					<input type="hidden" name="page" th:value="${currentPage}" /> <input
						type="hidden" name="size" th:value="${pageSize}" />
					<td><input type="text" name=courseName
						th:value="${c.courseName}" required /></td>
					<td><select name="departmentId" required>
							<option value="">-- вибирите департамент --</option>
							<option th:each="d : ${departments}" th:text="${d.name}"
								th:value="${d.id}"
								th:selected="${c.department != null and c.department.id == d.id}"></option>
					</select></td>
					<td><span th:each="g : ${c.groups}"><span
							th:if="${g != null}" th:text="${g.name}"></span></span> <select
						name="groupId">
							<option value="">-- Добавить группу --</option>
							<option th:each="g : ${pageGroup.content}" th:value="${g.id}"
								th:text="${g.name}"></option>
					</select>
						<div class="pagination">
							<a th:if="${pageGroup.hasPrevious()}"
								th:href="@{'/methodist/courses'(groupPage=${pageGroup.number - 1}, groupSize=${pageGroup.size})}">
								Prev Group </a> <span>[[${pageGroup.number + 1}]] /
								[[${pageGroup.totalPages}]]</span> <a th:if="${pageGroup.hasNext()}"
								th:href="@{'/methodist/courses'(groupPage=${pageGroup.number + 1}, groupSize=${pageGroup.size})}">
								Next Group </a>
						</div>
						<button type="submit">Сохранить изменения</button></td>
				</form>
				<td>
					<form th:action="@{/methodist/courses/teachers/update}"
						method="post">
						<input type="hidden" name="page" th:value="${currentPage}" /> <input
							type="hidden" name="size" th:value="${pageSize}" /> <input
							type="hidden" name="courseId" th:value="${c.id}" /> <select
							name="teacherId" style="margin-top: 20px;">
							<option value="">-- выбирите учителя --</option>
							<option th:each="t : ${teachers}"
								th:if="${!t.courses.contains(c)}" th:value="${t.id}"
								th:text="${t.user.firstName}"></option>
						</select>
						<button type="submit" style="margin-top: 20px;">Добавить
							учителя</button>
					</form> <span th:each="t : ${teachers}">
						<form th:if="${t.courses.contains(c)}"
							th:action="@{/methodist/courses/teachers/delete}" method="post">
							<input type="hidden" name="page" th:value="${currentPage}" /> <input
								type="hidden" name="size" th:value="${pageSize}" /> <input
								type="hidden" name=teacherId th:value="${t.id}" /> <input
								type="hidden" name=courseId th:value="${c.id}" />
							<button type="submit">
								Удалить учителя - <span th:text="${t.user.firstName}"></span>
							</button>
						</form>
				</span>
				</td>
				<td>
					<form th:action="@{/methodist/courses/{id}/delete(id=${c.id})}"
						method="post">
						<button type="submit" style="margin-top: 20px;">Удалить
							курс</button>
					</form> <span th:each="g, stat : ${c.groups}">
						<form
							th:action="@{/methodist/courses/{courseId}/groups/{groupName}/delete(courseId=${c.id}, groupName=${g.name})}"
							method="post">
							<input type="hidden" name="page" th:value="${currentPage}" /> <input
								type="hidden" name="size" th:value="${pageSize}" />
							<button type="submit">
								Удалить - <span th:text="${g.name}"></span>
							</button>
						</form>
				</span>
				</td>
			</tr>
		</tbody>
	</table>

	<form th:action="@{/methodist/courses/new}" method="post"
		th:object="${newCourse}" th:if="${currentPage + 1 == totalPage}">
		<input type="hidden" name="page" th:value="${currentPage}" /> <input
			type="hidden" name="size" th:value="${pageSize}" /> <input
			type="text" th:field="*{courseName}" placeholder="Название курса"
			required /> <select th:field="*{departmentId}" required>
			<option value="">-- выберите департамент --</option>
			<option th:each="d : ${departments}" th:value="${d.id}"
				th:text="${d.name}"></option>
		</select> <select th:field="*{groupId}">
			<option value="">-- выберите группу --</option>
			<option th:each="g : ${pageGroup.content}" th:value="${g.id}"
				th:text="${g.name}"></option>
		</select>
		<div class="pagination">
			<a th:if="${pageGroup.hasPrevious()}"
				th:href="@{'/methodist/courses'(groupPage=${pageGroup.number - 1}, groupSize=${pageGroup.size})}">
				Prev Group </a> <span>[[${pageGroup.number + 1}]] /
				[[${pageGroup.totalPages}]]</span> <a th:if="${pageGroup.hasNext()}"
				th:href="@{'/methodist/courses'(groupPage=${pageGroup.number + 1}, groupSize=${pageGroup.size})}">
				Next Group </a>
		</div>
		<button type="submit">Добавить курс</button>
	</form>

	<ul th:replace="pagination :: content"></ul>

	<div>
		<h1>
			<a th:href="@{/home}">Home</a>
		</h1>
	</div>
</body>
</html>