<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
	<h2>Вход в систему</h2>

	<form th:action="@{/perform_login}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" /> <label>Логин: <input
			type="text" name="username" />
		</label><br> <label>Пароль: <input type="password"
			name="password" /></label><br>
		<button type="submit">Войти</button>
	</form>
	<form th:action="@{/quest/registration}">
		<button type="submit">Регистрация</button>
	</form>
	<div>
		<div>Войти с помощью :</div>
		<a href="/oauth2/authorization/google?prompt=login"> Google</a>
	</div>
	<div>
		<p th:if="${param.locked}">Аккаунт временно заблокирован.
			Попробуйте позже.</p>
		<p th:if="${param.error}">Неверный логин или пароль</p>
		<p th:if="${param.logout}">Вы вышли из системы</p>
	</div>
</body>
</html>