<ul th:fragment="outsider">
	<li><h1>
			<a th:href="@{/universitys}">Universitys</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/facultys}">Facultys</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/departments}">Departments</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/courses}">Courses</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/lessons}">Lessons</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/users}">Users</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/groups}">Groups</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/rooms}">Rooms</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/teachers}">Teachers</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/roles}">Roles</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/students}">Students</a>
		</h1></li>
	<li><h1>
			<a th:href="@{/enrollments}">Enrollments</a>
		</h1></li>
</ul>