<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teachers</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
	<div>
		<h2>Teachers</h2>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Department_id</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="t : ${pageTeacher.content}">
					<td th:text="${t.id}"></td>
					<td th:text="${t.department?.id}"></td>
				</tr>
			</tbody>
		</table>
		<ul th:replace="pagination :: content">
		</ul>
		<h1>
			<a th:href="@{/}">Home</a>
		</h1>
	</div>
</body>
</html>
