<html xmlns:th="http://www.thymeleaf.org">
<body>
	<ul th:fragment="quest">
		<li>
			<h1>
				<a th:href="@{/quest/universitys}">University</a>
			</h1>
		</li>
		<li>
			<h1>
				<a th:href="@{/quest/departments}">Department</a>
			</h1>
		</li>
		<li>
			<h1>
				<a th:href="@{/quest/facultys}">Faculty</a>
			</h1>
		</li>
		<li>
			<h1>
				<a th:href="@{/quest/rooms}">Room</a>
			</h1>
		</li>
		<li>
			<h1>
				<a th:href="@{/quest/lessons}">Росписание</a>
			</h1>
		</li>
	</ul>
</body>
</html>