<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Список студентов</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
</head>
<body>
	<div>
		Группа
		<form th:action="@{/methodist/students}">
			<input type="hidden" name="page" th:value="${currentPage}" /> <input
				type="hidden" name="size" th:value="${pageSize}" /> <select
				name="groupId">
				<option value="">--Выбирите группу--</option>
				<option th:each="g : ${pageGroup.content}" th:text="${g.name}"
					th:value="${g.id}"
					th:selected="${g.id.toString() == param.groupId}"></option>
			</select>
			<div th:replace="groupPagination :: groupPagination(${url})"></div>
			<button type="submit">Filter</button>
		</form>
	</div>
	<br>
	<div th:replace="readStudents :: readStudents"></div>
	<div>
		<h2>
			<a th:href="@{/home}">Home</a>
		</h2>
	</div>
</body>
</html>